@{
    ViewBag.Title = "取回密码_游戏说_网络游戏论坛社区";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    Layout = "~/Areas/GameWeiBo/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Content/default/js/validate.js")"></script>
<style type="text/css">
    /**密码强度**/
    .m
    {
        background-image: url(/Content/default/images/m.gif);
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
    .r
    {
        background-image: url(/Content/default/images/r.gif);
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
    .z
    {
        background-image: url(/Content/default/images/z.gif);
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
    .q
    {
        background-image: url(/Content/default/images/q.gif);
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
</style>
<div class="main_2">
    <div class="main_t">
        <span>取回密码</span></div>
    @if (int.Parse(ViewData["uid"].ToString()) > 0)
    {
        <div class="Menubox">
            <ul>
                <li class="hover">您当前是在线登录状态</li>
            </ul>
        </div>
    }
    <div class="set_warp">
        @if (ViewData["authstr"] == null)
        {
            <div class="friends">
                <form method="POST" action="/Account/GetPassword/">
                <input type="hidden" name="primary" value="1" />
                <li>方法一：请输入您注册时填写的邮箱地址/登录Email</li>
                <li>
                    <input datatype="LimitB" min="6" max="300" msg="请将长度控制在3~50个字符之间" name="email" type="text"
                        class="p1" style="width: 320px;" />&nbsp;<input type="submit" class="save" value="提  交" /></li>
                </form>
                <li><span>重设密码的邮件会发送到您的邮箱中，按其中的介绍操作即可重设密码</span></li>
            </div>
            <br />
            <div class="friends">
                <li>方法二：通过网站客服核对你的真实身份，并帮你重设密码</li>
                <li><span>你必须事先在个人资料设置中填写了真实姓名或证件号码</span></li>
            </div>		
            <br />
        }
        else
        {
            Kt.GameWeiBo.Model.PostModel.Authstr _authstr = ViewData["authstr"] as Kt.GameWeiBo.Model.PostModel.Authstr;
@*收到邮件后重置密码*@
         
            <form action="/account/GetPassword" method="POST" onsubmit="return FormSubmit(this,3)">
            <INPUT TYPE="hidden" name="username" value="@_authstr.username">
            @*<input type="hidden" name="secques" value="@_authstr.secques">*@
            <input type="hidden" name="uid" value="@_authstr.uid">
            <input type="hidden" name="id" value="@_authstr.id">
            <input type="hidden" name="primary" value="2" />
            <table border="0" cellspacing="7" cellpadding="0" width="100%">
                <tr>
                    <td width="30%" align="right">
                        用户名/邮箱：
                    </td>
                    <td align="left">@_authstr.username
                    </td>
                    <tr>
                        <td width="30%" align="right">
                            新密码：
                        </td>
                        <td align="left">
                            <input name="password_new1" type="password" id="password" maxlength="16" datatype="LimitB"
                                min="6" onkeyup="pwStrength(this.value,'img','imgs','ilength')">
                            <span id="pass1" style="color: Red; display: none;">密码强度不够</span>
                        </td>
                        <tr>
                            <tr id="passwordLength">
                                <td valign="top" align="right">
                                    密码强度：
                                </td>
                                <td class="m" id="img" valign="top">
                                </td>
                            </tr>
                            <td width="30%" align="right">
                                确认新密码：
                            </td>
                            <td align="left">
                                <input name="password_new2" onkeyup="judgeor();" type="password" id="confirm" maxlength="50"
                                    datatype="Repeat" to="password" type="password">
                                <span id="pass2" style="color: Red; display: none;">两次输入密码不同</span>
                            </td>
                        </tr>
                        <tr bgcolor="#FFFFFF" class='info_bottom'>
                            <td colspan="2" align="center">
                                <input class="save" type="submit" value="提 交">
                            </td>
                        </tr>
            </table>
            </form>
            <br />
            <br />
        }
    </div>
</div>
<!--密码强度提示-->
<script type="text/javascript" language="javascript">
    function CharMode(iN) {
        if (iN >= 48 && iN <= 57) //数字
            return 1;
        if (iN >= 65 && iN <= 90) //大写字母
            return 2;
        if (iN >= 97 && iN <= 122) //小写
            return 4;
        else
            return 8; //特殊字符
    }
    function bitTotal(num) {
        modes = 0;
        for (i = 0; i < 5; i++) {
            if (num & 1) modes++;
            num >>>= 1;
        }
        return modes;
    }
    function checkStrong(sPW) {
        if (sPW.length <= 5)
            return 0;  //密码太短
        Modes = 0;
        for (i = 0; i < sPW.length; i++) {
            Modes |= CharMode(sPW.charCodeAt(i));
        }
        return bitTotal(Modes);
    }
    function pwStrength(pwd, vImg, vImgs, ilength) {
        judgeor();
        if (pwd == null || pwd == '') {
            document.getElementById(vImg).className = "m";
        }
        else {
            S_level = checkStrong(pwd);
            switch (S_level) {
                case 0:
                    document.getElementById(vImg).className = "m";
                    break;
                case 1:
                    document.getElementById(vImg).className = "r";
                    break;
                case 2:
                    document.getElementById(vImg).className = "z";
                    break;
                default:
                    document.getElementById(vImg).className = "q";

            }
        }
        return;
    }
    function FormSubmit(src, type) {
        var ps1 = $.trim($("#password").val());
        var ps2 = $.trim($("#confirm").val());
        if (ps1 == ps2) {
            return true;
        }
        else {
            alert("两次密码不一致!");
            return false;
        }
        /*
        var state = reValidate(src, type, "password_new2");
        if (!state) {
        $("#pass1").show();
        }
        if ($("#pass1").val() != $("#pass2").val()) {
        $("#pass2").show();
        }
        return state;
        */
    }
    function reValidate(theForm, mode, field) {
        $(".password > div").remove();
        if (Validator.Validate(theForm, mode, field)) {
            if (checkStrong($("#password").val()) <= 1) {
                $("#password").focus();
                $("#password").select();
                createDiv("password", "密码强度太低，请输入更复杂的密码");
                return false;
            }
            else {
                return true;
            }
        }
        else {
            Validator.Validate(theForm, mode, field);
            if ($('input[name=password_new1]').val() == $('input[name=password_new2]').val()) {
                $(".password > div").remove();
                $(".password2 > div").remove();
            }
            return false;
        }
    }
    function createDiv(id, message) {
        $("." + id).append('<div id="__ErrorMessagePanel" style="color: #555; float: left; margin: 0 0 0 5px; padding: 1px 5px 2px; border: 1px solid #E5C3C4; background: #fff2e9; width: auto; font-size: 12px; z-index: 11;"><img src="/Content/default/images/check_error.gif">' + message + '</div>');
    }
    function judgeor() {
        $("#pass1").hide();
        $("#pass2").hide();
    }
</script>
