<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - 游戏说</title>
    @if (!string.IsNullOrEmpty(ViewBag.description))
    {
        <meta name="description" content="@ViewBag.description" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.keywords))
    {
        <meta name="keywords" content="@ViewBag.keywords" />
    }
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <link href="/Content/reg/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24939199-2']);
        _gaq.push(['_setDomainName', '.youxishuo.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</head>
<body>
    <div class="head">
        <a class="logo" href="/UserHome/Index"></a>
    </div>
    <div class="clear">
    </div>
    <div class="main">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="bottom">
    </div>
    <div class="foot">
        <p>
            <a href="/Content/Help/aboutus.html">关于我们</a>|<a href="/Content/Help/disclaimer.html">免责声明</a>|<a
                href="/Content/Help/Privacy.html">隐私保护</a>|<a href="/Content/Help/HelpCenter.html">帮助中心</a>
        </p>
        <p>
            增值电信业务经营许可证：<a href="http://www.miitbeian.gov.cn" target="_blank">冀B2-20115029</a>
            <a href="http://www.miitbeian.gov.cn" target="_blank">冀ICP备11003943号</a> Copyright
            &copy; 2011 All Rights Reserved youxishuo.com
        </p>
    </div>
</body>
</html>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff79e03ad090e1c3649d62e0bc82c99ae' type='text/javascript'%3E%3C/script%3E"));
</script>
<div style="display: none;">
    <script type="text/javascript" src="http://s20.cnzz.com/stat.php?id=3188196&web_id=3188196" language="JavaScript"></script>
</div>